/* Header */
header nav {
    text-align: center;
}
.logo1 {
    height: 50%;
    width: 50%;
    text-align: center;
}
/* Body  *Inicio* */

/* Footer */


.social {
    height: 6vh;
    width: 6vh;
}
.divFooter {
    text-align:end;
}
.divCopy {
    
    text-align: end;
}
.logoFooter {
    text-align: start;
}
.logoFooter img {
    height: 15vh;
    width: 20vh;
}