
//responsive
$responsive: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Body all pages

  .carous-1 {
    width: 70%;
    height: 70%;
    padding: 2%;
    text-align: center;
  }

// Footer

.footer {
    background-color: #212529;
    padding: 2%;
    .row {
        .col-6 {
            text-align: start;
        }
    }
}
.divCopy {
    color: wheat;
    text-align: center;
}